//______COLORS______
$color-1 				: #5a5a5a;
$color-2 				: #cecece;
$color-3                : #37ce74;
$color-4                : #1245b7;
$color-white			: #fff;
$color-black 			: #000;

//______FONTS______
$font-main 				: "PT Sans", sans-serif;
$font-secondary         : "PT Serif", serif;
$fontSize-smaller 		: 12px;
$fontSize-small 		: 14px;
$fontSize-medium 		: 16px;
$fontSize-big 			: 20px;
$fontSize-bigger 		: 24px;
$fontSize-h1 			: 65px;
$fontSize-h2 			: 55px;
$fontSize-h3 			: 45px;

//______MISCELLANEOUS______
$transitionDuration 	: 0.15s;
$borderWidth			: 2px;
$borderRadius 			: 6px;
$xs						: 320px;
$sm						: 767px;
$md						: 1024px;
$lg						: 1280px;